<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.belajarchapter4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarChapter4">
        <activity
            android:name=".PertemuanKeempat.TugasPertemuanKeempat.SplashScreen"
            android:exported="false" />
        <activity
            android:name=".PertemuanKeempat.TugasPertemuanKeempat.DashboardActivity"
            android:exported="false"
            android:label="Dashboard" />
        <activity
            android:name=".PertemuanKeempat.TugasPertemuanKeempat.HalLoginActivity"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name=".PertemuanKeempat.MainSF2Activity"
            android:exported="false" />
        <activity
            android:name=".PertemuanKeempat.MainSFActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanKeempat.ContohSharedP.ContohSharedActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanKeempat.PertemuanKeempatActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanKetiga.LatihanRecyleView.LatihanRecyActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanKetiga.Percobaan.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanKetiga.PertemuanKetigaViewActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanKedua.LatihanKedua.KasirActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanKedua.alertFragment.AlertFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanKedua.LatihanSatu.LatihanDuaActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanKedua.LatihanSatu.LatihanSatuActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanKedua.AlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanPertama.MiniChalangeSatu.PenampungActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanPertama.navcomponent.NavComponetActivity"
            android:exported="false" />
        <activity
            android:name=".PertemuanPertama.DashboarActivity"
            android:exported="false"
            android:label="Dashboard" />
        <activity
            android:name=".PertemuanPertama.PertamaActivity"
            android:exported="true"
            android:label="Pertemuan Pertama" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>